        <!-- About Start -->
        <div class="container-xxl py-2">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.1s" src="https://source.unsplash.com/random/1200x500">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.3s" src="https://mdbcdn.b-cdn.net/img/new/slides/015.webp" style="margin-top: 11%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.5s" src="https://mdbcdn.b-cdn.net/img/new/slides/025.webp">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.7s" src="https://source.unsplash.com/random/1200x501" style="margin-top: 11%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h1 class="mb-4 fw-bold" style="color:#88001b;">S<img src="/img/logo.png" width="55"><span style="color:#FAA116;">tore</span> Food Service</h1>
                        <p class="mb-4">O Santore Food Service é um app de alimentos e blog. O logotipo e as imagens ajudam a reforçar o tema de comida em toda a página.</p>
                        <p class="mb-4">As cores são claras e "apetitosas" verde, laranja, vermelho, cores de pêssego que você gostaria de "comer".</p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <h1 class="flex-shrink-0 display-5 mb-0 fw-bold" style="color:#88001b;">+ <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="2" class="purecounter"></span></h1>
                                    <div class="ps-4">
                                        <p class="mb-0 fw-bold" style="color:#FAA116;">Anos de</p>
                                        <h6 class="text-uppercase mb-0 fw-bold" style="color:#FAA116;">Experiência</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center px-3">
                                    <h1 class="flex-shrink-0 display-5 mb-0 fw-bold" style="color:#88001b;">+ <span data-purecounter-start="0" data-purecounter-end="55" data-purecounter-duration="2" class="purecounter"></span></h1>
                                    <div class="ps-4">
                                        <p class="mb-0 fw-bold" style="color:#FAA116;">Items</p>
                                        <h6 class="text-uppercase mb-0 fw-bold" style="color:#FAA116;">Populares</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
