    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg py-5">
      <div class="container">

        <div class="row counters" style="font-size:24px">

          <div class="col-lg-3 col-6 text-center">
            <h6 class="badge bg-primary bg-gradient rounded-pill mb-2 text-white shadow">PUBLICAÇÕES</h6>
            <h2 class="fw-bolder"><span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span></h2>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h6 class="badge bg-primary bg-gradient rounded-pill mb-2 text-white shadow">SEGUINDO</h6>
            <h2 class="fw-bolder"><span data-purecounter-start="0" data-purecounter-end="66" data-purecounter-duration="1" class="purecounter"></span></h2>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h6 class="badge bg-primary bg-gradient rounded-pill mb-2 text-white shadow">SEGUIDORES</h6>
            <h2 class="fw-bolder"><span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span></h2>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h6 class="badge bg-primary bg-gradient rounded-pill mb-2 text-white shadow">LIKES</h6>
            <h2 class="fw-bolder"><span data-purecounter-start="0" data-purecounter-end="27" data-purecounter-duration="1" class="purecounter"></span></h2>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
