
<!--<div class="notification">
  Hey, want sum notifications?
  Hey, want sum notifications?
  Hey, want sum notifications?
  Hey, want sum notifications?
  <div class="btn">Nope</div>
</div>
<script>
var emojiCursor = document.createElement("canvas");
emojiCursor.width = 48;
emojiCursor.height = 48;
var context = emojiCursor.getContext("2d");
context.font = "40px 'sans serif'";
context.fillText("📖", 0, 40);
//context.fillText("💻", 0, 40);
//context.fillText("👋", 0, 40);
document.body.style.cursor = "url('" + emojiCursor.toDataURL() + "'), auto";
</script>-->
