<div class="container">

<!--<h4 class="text-info">Bootstrap 5 Multiple Image Slider - Carousel</h4>-->
<div class="container text-center my-3">
        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-md-3">
                            <div class="card"><a href="/books/2lq6znbrsnjy">
                                <div class="card-img">
                                    <img src="/img/banner5.jpg" class="img-fluid rounded">
                                </div>
                                <div class="card-img-overlay text-white">Projeto AEN</div></a>
                            </div>
                        </div>
                    </div>{{#each this}}{{#each value}}
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card"><a href="{{url}}">
                                <div class="card-img">
                                    <img src="{{image}}" class="img-fluid rounded">
                                </div>
                                <div class="card-img-overlay text-white">{{category}}</div></a>
                            </div>
                        </div>
                    </div>{{/each}}{{/each}}
                    
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>      
    </div>

</div>

</div>

<script>
let items = document.querySelectorAll('.carousel .carousel-item')

items.forEach((el) => {
  const minPerSlide = 4
  let next = el.nextElementSibling
  for (var i=1; i<minPerSlide; i++) {
    if (!next) {
        // wrap carousel by using first child
        next = items[0]
    }
    let cloneChild = next.cloneNode(true)
    el.appendChild(cloneChild.children[0])
    next = next.nextElementSibling
}
})
</script>
