                <footer class="py-4 bg-dark mt-auto">
                    <div class="container px-1">
                        <div class="d-flex align-items-center justify-content-between small">
                            <img class="img-responsive" src="/img/aen.png" width="100">
                            <div class="text-light">Copyright &copy; AEN {{copyrightYear}}. 
Imagens obtidas de fontes diversas podem estar sujeitas a direitos autorais.
</div>
                            <div class="text-white">
                                <!--<a class="text-white" href="#">Privacy Policy</a>
                                &middot;
                                <a class="text-white" href="#">Terms &amp; Conditions</a>-->
                            </div>
                        </div>
                    </div>
                </footer>
