                <footer class="py-5 bg-light mt-auto" style="background-image: url('https://images.unsplash.com/photo-1712927446840-f4ab04d9049e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');')">
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <div class="container px-1">
                        <div class="d-flex align-items-center justify-content-between small">
                            <!--<img class="img-responsive" src="/img/aen.png" width="100">-->
                            <div class="text-white"> &copy; AEN {{copyrightYear}}. 
</div>
                                            <a class="fs-5 px-2 link-dark" href="https://twitter.com/neto_ajp" target="_blank"><i class="bi bi-twitter"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://facebook.com/neto.ajp" target="_blank"><i class="bi-facebook"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://www.linkedin.com/in/antenor-neto-8239551b7/" target="_blank"><i class="bi-linkedin"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://instagram.com/neto.ajp" target="_blank"><i class="bi-instagram"></i></a>
                            <div class="text-dark">
                                <!--<a class="text-white" href="#">Privacy Policy</a>
                                &middot;
                                <a class="text-white" href="#">Terms &amp; Conditions</a>-->
                            </div>
                        </div>
                    </div>
                </footer>
