                <footer class="py-2 bg-light mt-auto">
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                    <div class="container px-1">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-info"> AEN  &copy; {{copyrightYear}}.</div>
                                            <a class="fs-5 px-2 link-secondary" href="https://twitter.com/neto_ajp" target="_blank"><i class="bi bi-twitter"></i></a>
                                            <a class="fs-5 px-2 link-secondary" href="https://facebook.com/neto.ajp" target="_blank"><i class="bi-facebook"></i></a>
                                            <a class="fs-5 px-2 link-secondary" href="https://www.linkedin.com/in/antenor-neto-8239551b7/" target="_blank"><i class="bi-linkedin"></i></a>
                                            <a class="fs-5 px-2 link-secondary" href="https://instagram.com/neto.ajp" target="_blank"><i class="bi-instagram"></i></a>
                            <div class="text-dark">
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
