                <footer class="py-4 bg-light mt-auto bg-image"
                     style="background-image: url('/img/banner5.jpg');">
                    <div class="container px-5">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-white">Copyright &copy; AENTECH {{copyrightYear}}. 
As imagens são coletadas de diversas fontes e podem estar sujeitas a direitos autorais.
</div>
                            <div class="text-white">
                                <!--<a class="text-white" href="#">Privacy Policy</a>
                                &middot;
                                <a class="text-white" href="#">Terms &amp; Conditions</a>-->
                            </div>
                        </div>
                    </div>
                </footer>
