 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative wow zoomIn" data-wow-delay="0.1s">
      <h1>CIÊNCIA, TECNOLOGIA E INFORMAÇÃO</h1>
      <p>A combinação ideal para transformar a operação de conectar pessoas ao seu empreendimento</p>
      <a href="/books?page=1" class="btn-get-started nav-link">COMECE AGORA!</a>
    </div>
  </section><!-- End Hero -->


                <!-- Jumbotron -->
<!--                <div class="bg-image p-5 text-center shadow-1-strong mb-5 text-white"
                     style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/025.webp');">

                  <div class="mask rounded" style="background-color: rgba(0, 0, 0, 0.3);">
                     <div style="padding:20px">
                     <h1 class="mb-3 h2">Ciência, Tecnologia e Informação</h1>
                     <p class="h5">A combinação ideal para transformar a operação de conectar pessoas ao seu empreendimento.</p>
                     </div>
                  </div>
                </div>-->
                <!-- Jumbotron -->
