<div class="container mb-5" style="text-align: justify">
      <!-- Jumbotron -->
      <div class="bg-image p-5 text-center shadow rounded-3 mb-5 text-white"
         style="background-image: url('https://images.unsplash.com/photo-1712927446840-f4ab04d9049e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">

         <div class="mask rounded container position-relative wow zoomIn" data-wow-delay="0.1s" style="background-color: rgba(0, 0, 0, 0.3);">
            <div style="padding:20px">
               {{>style1}}
               <h1 class="mb-3 h2">Tecnologia & Informação</h1>
               <p class="h5">A combinação ideal para transformar a operação de conectar pessoas ao seu empreendimento.</p>
            </div>
         </div>
      </div>
      <!-- Jumbotron -->
   <div class="row">
         <div class="text-muted fst-italic mb-2">Atualizado em 24/04/2024</div>
         <p class="h5">supercapacitors as a function of both chemical composition and charge density on the electrodes</p>
         <h5 class="h6">Graphene oxide (GO) and reduced graphene oxide (rGO) based materials have been considered for potential 
         energy storage applications, in particular supercapacitors. 
         Here, for the first time, we present a detailed analysis of the properties of graphene oxide based 
         supercapacitors as a function of both chemical composition and charge density on the electrodes.
         </h5>

      <div class="col-md-8 py-3">
         <spam><p class="bg-info rounded p-3">smartphones, tablets, notebooks, etc., tornaram-se essenciais nos dias atuais.</p>
         <h5 class="h6">Dispositivos complementares de armazenamento de energia,</h5> <p class="text-muted">baterias e supercapacitores</p> 
         <h5 class="h6">são elementos extremamente importantes que mantêm esses dispositivos funcionando. 
             Mas ainda assim, as baterias apresentam baixa vida útil e carregamento muito lento.
         </h5>
         <h5 class="h6">São elementos extremamente importantes que mantêm esses dispositivos funcionando.
            Mas ainda assim, as baterias apresentam baixa vida útil e carregamento muito lento.
            O desenvolvimento de dispositivos de alta potência e longa vida útil (supercapacitores ou
            capacitores elétricos de dupla camada, EDL), tornam-se soluções amplamente recomendadas
         </h5>
      </div>

      <div class="col-md-4 bg-warning">
         <spam><p class="bg-light rounded p-3 mt-3" style="text-align: center"><i class="bi bi-info h4 bg-danger rounded"></i> baterias e supercapacitores</p>
         <h5 class="h6 fw-bold fst-italic">São elementos extremamente importantes que mantêm esses dispositivos funcionando.
            Contudo, as baterias apresentam baixa vida útil e carregamento muito lento.
            O desenvolvimento de dispositivos de alta potência e longa vida útil (supercapacitores ou
            capacitores elétricos de dupla camada, EDL), tornam-se soluções amplamente recomendadas
         </h5>
      </div>

      <div>
         <spam><p class="bg-secondary rounded p-3 mt-3 text-light" style="text-align: center">baterias e supercapacitores</p>
      </div>

      <div class="col-md-4 py-3">
         <p class="h6 text-muted">Elementos extremamente importantes que mantêm esses dispositivos funcionando.
            Mas ainda assim, as baterias apresentam baixa vida útil e carregamento muito lento.</p> 
         <spam><p class="bg-info rounded p-3">baterias e supercapacitores</p>
         <h5 class="h6">O desenvolvimento de dispositivos de alta potência e longa vida útil (supercapacitores ou
            capacitores elétricos de dupla camada, EDL), tornam-se soluções amplamente recomendadas
         </h5></spam>
         <h5 class="h6">São elementos extremamente importantes que mantêm esses dispositivos funcionando.
            Mas ainda assim, as baterias apresentam baixa vida útil e carregamento muito lento.
            O desenvolvimento de dispositivos de alta potência e longa vida útil (supercapacitores ou
            capacitores elétricos de dupla camada, EDL), tornam-se soluções amplamente recomendadas
         </h5>
      </div>

      <div class="col-md-4 py-3">
         <h5 class="h6">São elementos extremamente importantes que mantêm esses dispositivos funcionando.
            Mas ainda assim, as baterias apresentam baixa vida útil e carregamento muito lento.
            O desenvolvimento de dispositivos de alta potência e longa vida útil (supercapacitores ou
            capacitores elétricos de dupla camada, EDL), tornam-se soluções amplamente recomendadas
         </h5>
         <spam><p class="bg-info rounded p-3">baterias e supercapacitores</p>
         <h5 class="h6">São elementos extremamente importantes que mantêm esses dispositivos funcionando.
            Mas ainda assim, as baterias apresentam baixa vida útil e carregamento muito lento.
            O desenvolvimento de dispositivos de alta potência e longa vida útil (supercapacitores ou
            capacitores elétricos de dupla camada, EDL), tornam-se soluções amplamente recomendadas
         </h5>
      </div>
      <div class="col-md-4 py-3">
         <spam><p class="bg-info rounded p-3">baterias e supercapacitores</p>
         <h5 class="h6">São elementos extremamente importantes que mantêm esses dispositivos funcionando.
            Mas ainda assim, as baterias apresentam baixa vida útil e carregamento muito lento.
            O desenvolvimento de dispositivos de alta potência e longa vida útil (supercapacitores ou
            capacitores elétricos de dupla camada, EDL), tornam-se soluções amplamente recomendadas
         </h5></spam>
         <h5 class="h6">São elementos extremamente importantes que mantêm esses dispositivos funcionando.
            Mas ainda assim, as baterias apresentam baixa vida útil e carregamento muito lento.
            O desenvolvimento de dispositivos de alta potência e longa vida útil (supercapacitores ou
            capacitores elétricos de dupla camada, EDL), tornam-se soluções amplamente recomendadas
         </h5>
      </div>

      <div class="col-md-12 bg-secondary p-5">
         <p class="text-light"><i class="bi bi-book h4"></i> The corresponding storage capacity was found to increases as the degree of oxidation decreases, 
            that is, graphene and rGO systems are the most efficient devices among all investigated.
         </p>
      </div>
   </div>
</div>
