
   <!-- Modal2-->
<div class="modal fade" id="modal1" tabindex="-1">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-header bg-light text-white">
            <p class="h5 modal-title" id="title-modal">
            <a href="/"><img class="figure-img img-fluid rounded-circle shadow" src="/img/logo.png" width="70"></a> 
            <spam class="badge bg-primary bg-gradient rounded-pill mb-2 text-white shadow">MaterialApp<sup>&copy;</spam>
            </p>
            <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body bg-primary">
           {{>navapp}}
         </div><!--modal-body-->
         <div class="modal-footer bg-light text-dark">
            Copyright &copy; AEN {{copyrightYear}}.
            <a class="checkout btn fw-bold service-item" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-angle-right text-dark h2"></i>
            </a>
         </div><!--modal-footer-->
      </div> <!-- /modal-content -->
   </div> <!-- /modal-dialog -->
</div> <!-- /modal -->
