
   <!-- Modal2-->
<div class="modal fade" id="modal1" tabindex="-1">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-header text-white" style="background-image: url('https://images.unsplash.com/photo-1712927446840-f4ab04d9049e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');')">
            <p class="h5 modal-title" id="title-modal">
            <img class="rounded-circle mb-4 shadow" src="/img/logo.png" width="70"> 
            <spam class="badge bg-primary bg-gradient rounded-pill mb-2 text-white shadow">AppMaterial<sup>&copy;</spam>
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body fw-bold">
           {{>navapp}}
         </div><!--modal-body-->
         <div class="modal-footer text-white" style="background-image: url('https://images.unsplash.com/photo-1712927446840-f4ab04d9049e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');')">
            Copyright &copy; AEN {{copyrightYear}}.
            <a class="checkout btn fw-bold service-item" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-angle-right text-white h2"></i>
            </a>
         </div><!--modal-footer-->
      </div> <!-- /modal-content -->
   </div> <!-- /modal-dialog -->
</div> <!-- /modal -->
