            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark bg-image"
                     style="background-image: url('/img/banner5.jpg');">
                <div class="container">
                    <a class="navbar-brand fw-bold fs-6" href="/"><img src="/img/logo.png" width="40"><span> Technology & Information</a>
                    <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span>Mais</span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item service-item"><a class="nav-link" href="/books?page=1">Ciência e Tecnologia</a></li>
                            <li class="nav-item service-item"><a class="nav-link" href="/blog?page=1">Notícias</a></li>
                            <li class="nav-item service-item"><a class="nav-link" href="/prizes?page=1">Nobel <script>document.write(new Date().getFullYear()-1)</script></a></li>
                            <li class="nav-item service-item"><a class="nav-link" href="/about">Saiba Mais</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog"
href="" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-book text-light"></i> e-Books</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                       <li><a class="dropdown-item" href="/login">
                                       Login</a></li>
                                       <!--<li><a class="dropdown-item" href="/register">
                                       Register</a></li>
                                       <li><a class="dropdown-item" href="/logout">
                                       Logout</a></li>-->
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
