            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white shadow mb-2"
style="background-image: url('https://images.unsplash.com/photo-1712927446840-f4ab04d9049e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');')">
                <div class="container">
                    <a class="navbar-brand fw-bold fs-6" href="/"><img class="img-fluid px-0 rounded-circle mb-4 shadow" src="/img/logo.png" width="70">
                     <spam class="badge bg-primary bg-gradient rounded-pill mb-2 text-white shadow">AppMaterial<sup>&copy;</sup></spam>
                    </a>
                    <button class="navbar-toggler text-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modal1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog"
href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
<i class="bi bi-tools h4"></i> <!--Tools--></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                       <li><a class="dropdown-item" href="/ch5m3d#ch5m3d">
                                       CH5M3D</a></li>
                                       <!--<li><a class="dropdown-item" href="/chemdoodle">
                                       ChemDoodle</a></li>-->
                                       <!--<li><a class="dropdown-item" href="/logout">
                                       Logout</a></li>-->
                                </ul>
                            </li>
                            <li class="nav-item service-item rounded"><a class="nav-link" href="/books?page=1"><i class="bi bi-book px-2 h4"></i> <!--e-Books--></a></li>
                            <li class="nav-item service-item rounded"><a class="nav-link" href="/prizes?page=1"><i class="bi bi-award-fill px-2 h4"></i></i> <!--Nobel <script>document.write(new Date().getFullYear()-1)</script>--></a></li>
                            <li class="nav-item service-item rounded"><a class="nav-link" href="/about"><i class="bi bi-info-square px-2 h4"></i> <!--Saiba Mais--></a></li>
                            <li class="nav-item service-item rounded"><a class="nav-link" href="/contact#contact"><i class="bi bi-newspaper px-2 h4"></i> <!--Contato--></a></li>
                            <!--<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog"
href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
<i class="bi bi-code h4"></i> <!--AENTECH--></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                       <li><a class="dropdown-item" href="https://aen.pythonanywhere.com">
                                       Login</a></li>-->
                                       <!--<li><a class="dropdown-item" href="/register">
                                       Register</a></li>
                                       <li><a class="dropdown-item" href="/logout">
                                       Logout</a></li>-->
                                </ul>
                            </li>
                            <!-- Form Search here -->
                        </ul>
                    </div>
                </div>
            </nav>
{{>modal1}}
