            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-info rounded shadow mb-2" style="background-color: #8c6239">
                <div class="container">
{{>carousel}}
                    <!--<a class="navbar-brand fw-bold fs-6" href="/"><img class="img-fluid px-0 rounded-circle mb-4 shadow" src="/img/logo.png" width="70">
                     <spam class="badge bg-primary bg-gradient rounded-pill mb-2 text-white shadow">AppMaterial<sup>&copy;</sup></spam>
                    </a>
                    <button class="navbar-toggler text-white" type="button" data-bs-toggle="modal" data-bs-target="#modal1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            </li>
                            <li class="nav-item"><a class="nav-link text-white" href="/books?page=1">e-Books</a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="/articles"> Magazine</a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="/about">Sobre</a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="/contact#contact">Contato</a></li>
                            <!--<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog"
href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
<i class="bi bi-code h4"></i> <!--AENTECH--></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                       <li><a class="dropdown-item" href="https://aen.pythonanywhere.com">
                                       Login</a></li>-->
                                       <!--<li><a class="dropdown-item" href="/register">
                                       Register</a></li>
                                       <li><a class="dropdown-item" href="/logout">
                                       Logout</a></li>-->
                                </ul>
                            </li>
                            <!-- Form Search here -->
                        </ul>
                    </div>
                </div>
            </nav>
{{>modal1}}
