<ul class="pagination">
    {{#if previous}}<li class="page-item"><a class="page-link fw-bold" href="/books?page={{previous.page}}">Anterior</a></li>{{/if}}
    <!--<li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
    {{#if next}}<li class="page-item"><a class="page-link fw-bold" href="/books?page={{next.page}}">Próximo</a></li>{{/if}}
</ul>
