                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-5 fw-bold" style="color:#88001b;">Parceiros <img
src="/img/logo.png" width="55"><span style="color:#FAA116;"></h1>
                </div>
<div class="container-xxl py-0">
     <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-3">
                        <div class="row g-3">
                            <div class="col-12 text-start">
                                <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.1s" src="https://source.unsplash.com/random/1200x500">
                            </div>
                            <div class="col-12 text-start">
                                <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.3s" src="https://mdbcdn.b-cdn.net/img/new/slides/015.webp">
                            </div>
                            <div class="col-12 text-end">
                                <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.5s" src="https://mdbcdn.b-cdn.net/img/new/slides/025.webp">
                            </div>
                            <div class="col-12 text-end">
                                <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.7s" src="https://source.unsplash.com/random/1200x501">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

  <section class="mx-auto my-5" style="max-width: 23rem;">

    <div class="card map-card">
      <div id="map" class="z-depth-1-half map-container" style="height: 500px">
        <iframe src="https://maps.google.com/maps?q=ourinhos&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe>
      </div>
      <div class="card-body closed px-0">
        <div class="button px-2 mt-3">
          <a class="btn btn-floating btn-lg living-coral text-white float-end" style="margin-right: .75rem;"><i
              class="fas fa-bicycle"></i></a>
        </div>
        <div class="bg-white px-4 pb-4 pt-3-5">
          <h5 class="card-title h5 living-coral-text">Delivery</h5>
          <div class="d-flex justify-content-between living-coral-text">
            <h6 class="card-subtitle font-weight-light">Previsto em</h6>
            <h6 class="font-small font-weight-light mt-n1">25 min</h6>
          </div>
          <hr>
          <div class="d-flex justify-content-between pt-2 mt-1 text-center text-uppercase living-coral-text">
            <div>
              <i class="fas fa-phone fa-lg mb-3"></i>
              <p class="mb-0">Call</p>
            </div>
            <div>
              <i class="fas fa-cat fa-lg mb-3"></i>
              <p class="mb-0">Love</p>
            </div>
            <div>
              <i class="far fa-grin-beam-sweat fa-lg mb-3"></i>
              <p class="mb-0">Smile</p>
            </div>
          </div>
          <hr>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row" class="px-0 pb-3 pt-2">
                  <i class="fas fa-map-marker-alt living-coral-text"></i>
                </th>
                <td class="pb-3 pt-2">East 64th Street, New York, NY 10021, US</td>
              </tr>
              <tr class="mt-2">
                <th scope="row" class="px-0 pb-3 pt-2">
                  <i class="far fa-clock living-coral-text"></i>
                </th>
                <td class="pb-3 pt-2"><span class="deep-purple-text me-2"> Closed</span> Opens 10 AM</td>
              </tr>
              <tr class="mt-2">
                <th scope="row" class="px-0 pb-3 pt-2">
                  <i class="fas fa-cloud-moon living-coral-text"></i>
                </th>
                <td class="pb-3 pt-2">Sunny weather tomorrow</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </section>
                    </div>

                    <div class="col-lg-3">
                        <div class="row g-3">
                            <div class="col-12 text-start">
                                <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.1s" src="https://source.unsplash.com/random/1200x500">
                            </div>
                            <div class="col-12 text-start">
                                <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.3s" src="https://mdbcdn.b-cdn.net/img/new/slides/015.webp">
                            </div>
                            <div class="col-12 text-end">
                                <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.5s" src="https://mdbcdn.b-cdn.net/img/new/slides/025.webp">
                            </div>
                            <div class="col-12 text-end">
                                <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.7s" src="https://source.unsplash.com/random/1200x501">
                            </div>
                        </div>
                    </div>


                </div>
     </div>
</div>
