    <div class="row justify-content-center">
        <h1>Química</h1>
        <div class="col-sm-7 col-md-4 mb-5">
            <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
                {{#each this}}{{#if category}}
                <li class="nav-item p-1">
                    <a class="{{category}} nav-link shadow fs-5"
                      id="pills-profile-tab" data-toggle="pill" href="#{{category}}" role="tab"
                      aria-controls="pills-profile" aria-selected="false">{{category}}
                    </a>
                {{/if}}{{/each}}
                </li>
            </ul>
        </div>
    </div>
