         <!--section-->
         <div class="container px-0 menu"><br>
         </div>
         <!-- section -->

         <div class="bg-image"
              style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/026.webp');">
         </div>


<script>

fetch('/all').then((response) => {
    response.json().then((data) => {
        if (data.error) {
            console.log(data.error)
        } else {

            for (const [key, value] of Object.entries(data.items).slice(0,1)) {
                str1 = `<br><div class="badge rounded-pill text-light d-flex justify-content-center wow fadeInUp" 
data-wow-delay="0.1s" style="background-image: url('/img/banner5.jpg');">
                           <h3>Postagens</h3></div><br>
                           <div class="row">`
                        $('.menu').append(str1);

                data.items.forEach((item) => {
           str2 = `<div class="col">
                      <div class="d-flex align-items-center">
                         <img class="flex-shrink-0 img-fluid rounded" src="${item.image}" alt="" style="width: 150px;">
                      <div class="w-100 d-flex flex-column text-start ps-4">
                         <h6 class="d-flex justify-content-between border-bottom pb-2">
                         ${item.title}
                         <span class="fw-bold">${item.publish_date}</span>
                         </h6>
                         <small class="fst-italic">${item.author}
                            <span class="data">
                            <a class="text-decoration-none" href="/books/${item.key}">
Mais <i class="bi bi-eye"></i>
</a>
                            </span>
                         </small>
                      </div>
                      </div>
                   </div><br>`
                $('.menu').append(str2);
                });
            }
            $('.menu').append('</div>');
        }
    });
});

</script>
