<div class="container my-0">
<div hidden id="TOC" class="text-light"><b>Sumário</b></div>
            <!-- Header-->
            <header class="py-0">
               <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Nossa missão: tornar a informação acessível a todos.</h1>
                                <p id="demo" class="lead fw-normal text-muted mb-4"></p>
                                <a class="btn btn-primary btn-lg wow zoomIn" data-wow-delay="0.1s" href="/books/gj17uq00mlh0#TOC">CONHEÇA NOSSO PROJETO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-3 my-0">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 zoom"><img class="img-fluid rounded mb-2 mb-lg-0" src="https://media-assets.aumo.jp/uploads/photo/upload_photo/data/22791597/large_2eca8acc-992b-411f-805f-81109849657e.jpeg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Pesquisa e Desenvolvimento</h2>
                            <p class="lead fw-normal text-muted mb-0">Antenor Neto, pesquisador químico apaixonado por conhecimento e entusiasta de novas Tecnologias, possui profundo fascínio pela aplicação da Computação em Ciências da Vida (Bioinformática, Descoberta de Fármacos, Genômica, Neurociência). Acredita que a tecnologia, além de conectar pessoas, pode transformar vidas.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-3 my-3">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid mb-lg-0 rounded-circle mb-4 shadow" src="/img/logo.png" width="200" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Tudo em um só lugar!</h2>
                            <p class="lead fw-normal text-muted mb-0">
                               Seja qual for o motivo que o trouxe até aqui, encorajo-o a continuar navegando, pois tenho certeza que encontrará o que procura para transformar o seu empreendimento em algo extraordinário!
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-3 my-3">
                    <div class="text-center">
                        <h2 class="fw-bolder">Nosso time</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicado à qualidade e ao seu sucesso</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://pad.unifesp.br/images/Imagens/unifesp-Divulgao.jpg" alt="..." />
                                <h5 class="fw-bolder">UNIFESP</h5>
                                <div class="fst-italic text-muted">São José dos Campos - SP</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://th.bing.com/th/id/R.843c221e600457462068be5a82112d2f?rik=cDJSXTXESkBMlA&pid=ImgRaw&r=0" alt="..." />
                                <h5 class="fw-bolder">UNICAMP</h5>
                                <div class="fst-italic text-muted">Campinas - SP</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://estagioonline.com/wp-content/uploads/2018/03/USP.png" alt="..." />
                                <h5 class="fw-bolder">USP</h5>
                                <div class="fst-italic text-muted">São Carlos - SP</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://dddrop.com.br/wp-content/uploads/2021/12/Logo-UFABC.png" alt="..." />
                                <h5 class="fw-bolder">UFABC</h5>
                                <div class="fst-italic text-muted">Santo André - SP</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
<script>
var i = 0;
var txt = 'Acesse nosso conteúdo gratuitamente e apoie-nos adquirindo um de nossos produtos ou serviços.';
var speed = 50;

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("demo").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
typeWriter();
</script>
