<div hidden class="container px-0 my-5">
   <header class="mb-4">
      <div class="row">
         <div class="col-md-6">
         <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{title}}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">Atualizado em {{publish_date}}</div>
            <!--<div id="TOC"><b>Índice</b></div>-->
               <!-- Post categories-->
               {{!-- for cat in top_cats --}}
               <div class="badge bg-secondary text-decoration-none link-light">{{!--cat[0].title--}}</div>
               {{!-- endfor --}}
         </div>
         <div class="col-md-6">
            <hr><a class="fs-5 px-2 link-dark" href="https://twitter.com/neto_ajp" target="_blank"><i class="bi bi-twitter"></i></a>
            <a class="fs-5 px-2 link-dark" href="https://facebook.com/neto.ajp" target="_blank"><i class="bi-facebook"></i></a>
            <a class="fs-5 px-2 link-dark" href="https://www.linkedin.com/in/antenor-neto-8239551b7/" target="_blank"><i class="bi-linkedin"></i></a>
            <a class="fs-5 px-2 link-dark" href="https://instagram.com/neto.ajp" target="_blank"><i class="bi-instagram"></i></a>
         </div>
      </div>
   </header>
</div>
<div class="container mb-5" style="text-align: justify">
{{>jumbotron}}
      <div class="row">
         {{!--#each value--}}
         <p>{{{content}}}</p>
         {{!--/each--}}
      </div>
</div>
                <!--<div class="content" style="text-align:justify">
                    {{{content}}}{{>modal3}}
                </div><br><hr>-->
