<body onload="initialize()">
   <div class="container px-0 magazine">
      <div hidden id="TOC"><b>Sumário</b></div>
      <p class="QCHeader py-5">
         <a class="nav-link" href="/books/y7xplk8f5r5t">CH<sub>5</sub>M<sub>3D</sub> Documentation</a>
      </p>
      <div class="row">
         <div class="col-md-6" id="ch5m3d">
            <p class="clear">&nbsp;</p>
               <div class="card-body drawWin"><canvas id="molcanvas" width="350" height="350"></canvas></div>
         </div>
         <div class="col-md-6 py-5">
            <p>
            <input type='button' onclick="viewmode()" value="View Mode" class="modeTab" id="modeView" />
            <input type='button' onclick="drawmode()" value="Draw Mode" class="modeTab" id="modeDraw" />
            </p>

            <div id="viewDiv" class="viewDiv">
               <p><strong>View Mode</strong></p>
               <div id="formula"><p>Formula = </p></div>
               <p><a href="#info"><input type='button' onclick="showCoord(0)" value="Show coordinates"  class="Button"  id="coord" /></a></p>
               <p>
                  <input type='button' class="Button" id="LabelButton" onclick="showLabels()" value="Labels" />
                  <input type='button' class="Button" id="ChargeButton" onclick="simpleQ()" value="Charges" />
                  <select id="SelectCharge" size="1" onclick="setCharge()" >
                     <option value="3">+3</option>
                     <option value="2">+2</option>
                     <option value="1">+1</option>
                     <option value="0" selected="selected">0</option>
                     <option value="-1">-1</option>
                     <option value="-2">-2</option>
                     <option value="-3">-3</option>
                  </select>
               </p>
               <p>
                  <input class="Button" type='button' onclick="hideH()" value="Hide H" />
                  <input class="Button" type='button' onclick="resetView()" value="Reset View" />
               </p>
               <p><input type='button' onclick="showGlobal()" value="Show parameters" /></p>
               <p>
                  <input type='button' class="Button" id="rotateX" onclick="RotateMolecule('x')" value="Rotate X" />
                  <input type='button' class="Button" id="rotateY" onclick="RotateMolecule('y')" value="Rotate Y" />
                  <input type='button' class="Button" id="rotateZ" onclick="RotateMolecule('z')" value="Rotate Z" />
               </p>
               <p class="fleft"><strong>Load .xyz file:</strong><br />
               <div class="input-group">
                  <input type="file" class="form-control" id="molfile" title="Browse to load a file located on your computer." />
               </div>
               </p>
            </div>
            <div id="drawDiv" class="drawDiv">
               <p><strong>Current Element:</strong></p>
               <div id="ptable"></div>

               <p><strong>Hybridization:</strong></p>
               <p> &nbsp; &nbsp;
                  <input type='button' class="Button" id="cld1" onclick="pickClouds('1')" value="s"   />
                  <input type='button' class="Button" id="cld2" onclick="pickClouds('2')" value="sp"  />
                  <input type='button' class="Button" id="cld3" onclick="pickClouds('3')" value="sp2" />
                  <input type='button' class="Button" id="cld4" onclick="pickClouds('4')" value="sp3" />
               </p>
               <p>
                   <input type='button' class="Button" id="delbtn"  onclick="pickElem('Delete')" value="Delete Atom" />
                   <input type='button' class="Button" id="delbond" onclick="pickElem('DelBond')" value="Delete Bond" />
               </p>
               <p>
                   <input type='button' class="Button" id="rotbond" onclick="pickElem('RotateBond')" value="Rotate Bond" />
                   <input type='button' class="Button" id="undo"    onclick="Undo('pop')" value="Undo" />
                   <input type='button' class="Button" id="redo"    onclick="Undo('redo')" value="Redo" />
                </p>
                <p>
                   <input type='button' class="Button" id="OptButton" onclick="mechanics()" value="Optimize Structure" />
                </p>
            </div>

            <p class="clear">&nbsp;</p>

            <div id="bondMatrix" class="bondMatrix"></div>
         </div>
      </div>
      <div class="row" id="info">
         <div class="col-md-4">
            <p><strong>Information</strong></br><textarea class="form-control" id="information" rows="11"></textarea></p>
         </div>
         <div class="col-md-8 zoom">
            {{>periodictable}}
         </div>
      </div>
      <div class="Footer" id="Footer">
         The chem3d.js library copyright © 2013 by Clarke Earley<br />
         and is distributed under the terms of the
         <a href="http://www.gnu.org/licenses/gpl.html">GNU General Public License</a>.
      </div>
   </div>
</body>
