<div hidden id="TOC"><b>Sumário</b></div>

<!--<div class="py-1 text-center wow fadeInUp" data-wow-delay="0.1s">
      <img src="/img/logo.png" width="55">
</div>-->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters" style="font-size:24px">

          <div class="col-lg-3 col-6 text-center">
            <h6>PUBLICAÇÕES</h6>
            <h2 class="fw-bolder"><span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span></h2>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h6>SEGUINDO</h6>
            <h2 class="fw-bolder"><span data-purecounter-start="0" data-purecounter-end="66" data-purecounter-duration="1" class="purecounter"></span></h2>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h6>SEGUIDORES</h6>
            <h2 class="fw-bolder"><span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span></h2>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h6>LIKES</h6>
            <h2 class="fw-bolder"><span data-purecounter-start="0" data-purecounter-end="27" data-purecounter-duration="1" class="purecounter"></span></h2>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
