        <main>
<div hidden id="TOC"><b>Sumário</b></div>
{{#unless results}}
            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">{{>style1}}</h2>
                            <div class="news mb-4"></div>
                            <div class="text-end mb-5 mb-xl-0">
                                <a class="text-decoration-none" href="/blog?page=1">
                                    Mais notícias
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card border-0 h-100">
                                <div class="card-body p-4">
                                    <div class="d-flex h-100 align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder">TAXAS</div>
                                            <p class="text-muted mb-4">
                                                As taxas de juros e alguns índices oficiais do Brasil
                                                <br />
                                            </p>
                                            <div class="taxas h6 fw-bolder"></div><hr>{{>header}}
                                            <!--<img class="card-img-top rounded-1" id="contact" src="/img/logo.png">-->
                                            <!--<div class="h6 fw-bolder">Contato</div>-->
                                            <div class="h6 fw-bolder"></div><br>
                                            <a class="fs-5 px-2 link-dark" href="https://twitter.com/neto_ajp" target="_blank"><i class="bi bi-twitter"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://facebook.com/neto.ajp" target="_blank"><i class="bi-facebook"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://www.linkedin.com/in/antenor-neto-8239551b7/" target="_blank"><i class="bi-linkedin"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://instagram.com/neto.ajp" target="_blank"><i class="bi-instagram"></i></a>
                                            <p class="text-muted mb-4">
                                                Sugestões ou dúvidas, envie-nos uma mensagem
                                                <br />
                                                <!--<a href="#!">aentech.info@gmail.com</a>-->
                                            </p>


        <form method="POST" action="https://formspree.io/f/xjvjewbk">
            <div class="mb-3">
                <input class="form-control" name="name" type="text" id="name" placeholder="Nome e Sobrenome">
            </div>
            <div class="mb-3">
                <input class="form-control" name="email" type="email" id="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <textarea class="form-control" rows="5" name="message" placeholder="Mensagem"></textarea>
            </div>
            <div class="d-grid"><button type="submit" class="btn btn-primary mt-3">Enviar</button></div>
        </form>



                                            <div class="h6 fw-bolder"></div><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{{/unless}}

            <section class="py-0">
                <div class="container px-0">
                    <!--<h2 class="fw-bolder fs-5 mb-4">Destaques</h2>-->
                    {{#unless results}}{{!--featured--}}{{/unless}}

                    {{>posts}}
                    <div class="text-end mb-5 mb-xl-0 py-0">
                        <a class="text-decoration-none" href="#!">
                            {{>paginate}}
                        </a>
                    </div>
                </div>
            </section>
        </main>
{{>modal2}}

<script>

fetch('https://servicodados.ibge.gov.br/api/v3/noticias/?qtd=9').then((response) => {
    response.json().then((data) => {
        if (data.error) {
            console.log(data.error)
        } else {
            data.items.forEach((item) => {

                str = `<div class="small text-muted">${item.data_publicacao}</div>
                          <a class="link-dark" href="${item.link}"><h3>${item.titulo}</h3></a>
                       </div>`

                $('.news').append(str);
            });
        }
    });
});


fetch('https://brasilapi.com.br/api/taxas/v1').then((response) => {
    response.json().then((data) => {
        if (data.error) {
            console.log(data.error)
        } else {
            data.forEach((item) => {

                str = `<div class="small text-muted">${item.nome}</div>
                          <h3>${item.valor}</h3>
                       </div>`

                $('.taxas').append(str);
            });
        }
    });
});


</script>
	
