<style>
body {
  background-image: url('/img/banner5.jpg');
}
</style>
        <main class="flex-shrink-0">
            <!-- Page Content-->
            <div hidden id="TOC"><b>Sumário</b></div>
            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-12">
                            <h2 class="fw-bolder fs-5 mb-4">Laureates</h2>
                            <div class="news mb-4"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

<script>

fetch('https://api.nobelprize.org/v1/laureate.json').then((response) => {
    response.json().then((data) => {
        if (data.error) {
            console.log(data.error)
        } else {
            data.laureates.forEach((item) => {

                str = `<div class="small text-muted">${item.born} - ${item.died}</div>
                          <h3>${item.firstname} ${item.surname}</h3>
                       </div>`

                $('.news').append(str);
            });
        }
    });
});

</script>
