        <!-- About Start -->
        <div class="container-xxl py-2">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            {{#each this.about}}
                            {{#each items}}
                            <div class="col-6 text-start">
                                <img class="zoom img-fluid rounded wow zoomIn" data-wow-delay="0.1s" src="{{image}}">
                            </div>
                            {{/each}}
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h1 class="h2 mb-4 fw-bold">Bem vindo à <span class="text-info">Nossa página</span></h1>
                        {{#each this.about}}
                          {{#each items}}
                            <p class="lead fw-normal text-muted mb-3">{{content}}</p>
                          {{/each}}
                        {{/each}}
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <h1 class="flex-shrink-0 display-5 mb-0 fw-bold text-info">+<span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="2" class="purecounter"></span></h1>
                                    <div class="ps-4">
                                        <p class="mb-0 fw-bold">Anos de</p>
                                        <h6 class="text-uppercase mb-0 fw-bold">Experiência</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center px-3">
                                    <h1 class="flex-shrink-0 display-5 mb-0 fw-bold text-info"><span data-purecounter-start="0" data-purecounter-end="40" data-purecounter-duration="2" class="purecounter"></span></h1>
                                    <div class="ps-4">
                                        <p class="mb-0 fw-bold">Artigos</p>
                                        <h6 class="text-uppercase mb-0 fw-bold">Publicações</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
