        <!-- About Start -->
        <div class="container-xxl py-2">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="zoom img-fluid rounded wow zoomIn" data-wow-delay="0.1s" src="/img/aennews.jpg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="zoom img-fluid rounded wow zoomIn" data-wow-delay="0.3s" src="/img/aentechinfo.png" style="margin-top: 11%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="zoom img-fluid rounded wow zoomIn" data-wow-delay="0.5s" src="/img/atom.png">
                            </div>
                            <div class="col-6 text-end">
                                <img class="zoom img-fluid rounded wow zoomIn" data-wow-delay="0.7s" src="/img/banner5.jpg" style="margin-top: 11%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h1 class="h2 mb-4 fw-bold">Bem vindo à AENTECH</h1>
                        <p class="lead fw-normal text-muted mb-3">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos erat ipsum et lorem et sit, sed stet lorem sit.</p>
                        <p class="lead fw-normal text-muted mb-3">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <h1 class="flex-shrink-0 display-5 mb-0 fw-bold text-primary"><span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="2" class="purecounter"></span></h1>
                                    <div class="ps-4">
                                        <p class="mb-0 fw-bold text-warning">Anos de</p>
                                        <h6 class="text-uppercase mb-0 fw-bold text-warning">Experiência</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center px-3">
                                    <h1 class="flex-shrink-0 display-5 mb-0 fw-bold text-primary"><span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="2" class="purecounter"></span></h1>
                                    <div class="ps-4">
                                        <p class="mb-0 fw-bold text-warning">Populares</p>
                                        <h6 class="text-uppercase mb-0 fw-bold text-warning">Master Chefs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
