<!--<div class="demo container d-none d-sm-block d-sm-none d-md-block">-->
<div class="demo container"><br>
  <div class="carousel">
    <div class="item a"><a class="nav-link" href="/ch5m3d"><i class="bi bi-tools"></i></a></div>
    <div class="item b"><a class="nav-link" href="/books?page=1"><i class="bi bi-book"></i></a></div>
    <div class="item c"><a class="nav-link" href="/prizes?page=1"><i class="bi bi-award-fill"></i></a></div>
    <div class="item d"><a class="nav-link" href="/about"><i class="bi bi-info-square"></i></a></div>
    <div class="item e"><a class="nav-link" href="/articles"><i class="bi bi-newspaper"></i></a></div>
    <div class="item f"><a class="nav-link" href="/"><img src="/img/aen.png" width="100"></a></div>
  </div>
<div class="next">Next</div>
<div class="prev">Prev</div>
</div>

<script>
var carousel = $(".carousel"),
    currdeg  = 0;

$(".next").on("click", { d: "n" }, rotate);
$(".prev").on("click", { d: "p" }, rotate);

function rotate(e){
  if(e.data.d=="n"){
    currdeg = currdeg - 60;
  }
  if(e.data.d=="p"){
    currdeg = currdeg + 60;
  }
  carousel.css({
    "-webkit-transform": "rotateY("+currdeg+"deg)",
    "-moz-transform": "rotateY("+currdeg+"deg)",
    "-o-transform": "rotateY("+currdeg+"deg)",
    "transform": "rotateY("+currdeg+"deg)"
  });
}

  setInterval(function() {
    document.querySelector('.next').click();
  }, 7000);

</script>
