                <footer class="mt-5 py-2 bg-transparent mt-auto">
                    <div class="container px-1">


<p class="text-primary fw-bold fs-5">Estrutura Atômica:</p>
<div class="d-flex p-2">
     <ul class="pagination">
       <li class="page-item"><a class="page-link fw-bold" href="/book/1so2yss8gc7i">Parte 1</a></li>
       <li class="page-item"><a class="page-link" href="/book/vah7kxypfh05">2</a></li>
       <li class="page-item"><a class="page-link" href="/book/yutn627vg40b">3</a></li>
       <li class="page-item"><a class="page-link" href="/book/tl369uwkn8g0">4</a></li>
       <li class="page-item"><a class="page-link fw-bold" href="/book/giqez87b6jxy">Próximo</a></li>
     </ul>
</div>
                    </div>
                </footer>
