 <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative wow zoomIn" data-wow-delay="0.1s">
    <h1 class="d-none d-md-block">CIÊNCIA & TECNOLOGIA</h1>
    <center><p>O aspecto histórico da química como ciência</p>
    <a href="/material/pesquisa" class="btn-get-started nav-link">SAIBA MAIS!</a></center>
  </div>
</section><!-- End Hero -->
