 <!-- ======= Hero Section ======= -->
<!--  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative wow zoomIn" data-wow-delay="0.1s">
      <h1>CIÊNCIA, TECNOLOGIA E INFORMAÇÃO</h1>
      <p></p>
      <a href="/book/1so2yss8gc7i" class="btn-get-started nav-link">COMECE AGORA!</a>
    </div>
  </section>--><!-- End Hero -->

 <div class="container py-5">

    <div class="card border-0 shadow rounded-3 overflow-hidden wow pulse">
        <div class="card-body p-0" style="bg-warning background-image: url('/img/the-shapes-of-atomic-orbitals.jpg')">
            <div class="row gx-0">
                <div class="col-lg-6 col-xl-5 py-lg-5">
                    <div class="p-4 p-md-5">
                      <!--<div class="p-4 p-md-5 d-none d-sm-block d-sm-none d-md-block">-->
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Química</div>
                        <div class="h2 fw-bolder">Project</div>
                        <p class="text-light">{{>aen}}<!--Estamos com o site em manutenção e alguns recursos podem 
                         estar indisponíveis ou instáveis no momento.--></p>
                        <!--<a class="stretched-link nav-link text-light" href="/books/{{key}}">
                            Mais informação
                            <i class="bi bi-arrow-right"></i>
                        </a>-->
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('/img/banner5.jpg')"></div></div>
            </div>
        </div>
    </div>
 </div>
