      <!-- Jumbotron -->
      <div class="bg-image p-5 text-center shadow rounded-3 mb-5 text-white"
         style="background-image: url('https://th.bing.com/th/id/OIP.W6NiNByCAXPmJkx0yAg-dwHaHa?w=864&h=864&rs=1&pid=ImgDetMain');">

         <div class="mask rounded container position-relative wow zoomIn" data-wow-delay="0.1s" style="background-color: rgba(0, 0, 0, 0.3);">
            <div style="padding:20px">
               <h1 class="fw-bolder text-warning mb-3"><span class="text-primary">Química</span> $\text{E}$ = $\text{mc}^2$</h1>
               <!--<h1 class="mb-3 h2 fw-bold text-light">{{division}}</h1>-->
               <p class="h5 text-light">No ensino de Química praticado em qualquer nível, os tópicos, Estrutura Atômica e Ligação Química são de fundamental importância.</p>
               <a href="/material" class="btn btn-outline-warning nav-link">Acesse o material</a>
            </div>
         </div>
      </div>
      <!-- Jumbotron -->
