    <div class="row <!--d-none d-sm-block d-md-block-->">
        <div class="col-sm-12 col-md-12">
            <ul class="nav nav-justified mb-0 bg-secondary rounded" role="tablist">
                <li class="nav-item service-item rounded">
                    <a class="nav-link" href="/material"><i class="bi bi-book h4 text-white"></i>
                    </a>
                </li>
                <li class="nav-item service-item rounded"><a class="nav-link" href="/ch5m3d#ch5m3d">
                  <i class="bi bi-tools h4 text-white"></i></a>
                </li>
                <li class="nav-item service-item rounded"><a class="nav-link" href="/add">
                  <i class="bi bi-files h4 text-white"></i></i></a>
                </li>
                <li class="nav-item service-item rounded"><a class="nav-link" href="/about">
                  <i class="bi bi-info-square h4 text-white"></i></a>
                </li>
                <li class="nav-item service-item rounded"><a class="nav-link" href="/contact">
                  <i class="bi bi-newspaper h4 text-white"></i></a>
                </li>
                            <!-- Form Search here -->
            </ul>
        </div>
    </div>
