            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg bg-white shadow">
                <div class="container px-2">
                    <a class="navbar-brand" href="/"><img class="zoom figure-img img-fluid rounded-circle" src="/img/image.png" width="55">
                    <spam class="h5"><img src="/img/description.png" width="220"></spam></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="service-item nav-link" href="/about">
                               <b>Sobre</b></a></li>
                            <li class="nav-item"><a class="service-item nav-link" href="/mission">
                               <b>Missão</b></a></li>
                            <li class="nav-item"><a class="service-item nav-link" href="/contact">
                               <b>Contato</b></a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle service-item" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>Ensino</b></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="/material/ensino">Química</a></li>
                                    <li><a class="dropdown-item" href="/material">Interação</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="service-item nav-link" href="/material/pesquisa">
                               <b>Pesquisa</b></a></li>
                            <li class="nav-item"><a class="service-item nav-link" href="/faq">
                               <i class="d-md-none h5 bi bi-bag-check-fill"></i> <b>FAQ</b></a></li>
                            <!--<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
                                    <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="portfolio-overview.html">Portfolio Overview</a></li>
                                    <li><a class="dropdown-item" href="portfolio-item.html">Portfolio Item</a></li>
                                </ul>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </nav>
