            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg bg-white shadow">
                <div class="container px-2">
                    <a class="navbar-brand" href="/"><img class="zoom figure-img img-fluid rounded-circle" src="/img/image.png" width="55">
                    <spam class="h5"><img src="/img/description.png" width="220"></spam></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/about">
                               <i class="d-md-none h5 bi bi-person-workspace"></i> <b>About</b></a></li>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/research">
                               <i class="d-md-none h5 bi bi-search"></i> <b>Research</b></a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="d-md-none h5 bi bi-wrench"></i> <b>Services</b></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="/services">News and Information</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="d-md-none h5 bi bi-wallet2"></i> <b>Courses</b></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="/chemistry">Chemistry</a></li>
                                    <li><a class="dropdown-item" href="#">Molecular Dynamic</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="d-md-none h5 bi bi-tools"></i> <b>Tools</b></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="/material">Analisys</a></li>
                                    <li><a class="dropdown-item" href="/material">Simulation</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/articles">
                               <i class="d-md-none h5 bi bi-journal-richtext"></i> <b>Articles</b></a></li>
                            <li class="nav-item"><a class="nav-link" href="/faq">
                               <i class="d-md-none h5 bi bi-question-lg"></i> <b>FAQ</b></a></li>
                            <li class="nav-item me-3"><a class="nav-link" href="/contact">
                               <b>Contact</b></a></li>
                            <button class="btn btn-primary me-3">
                               <a class="text-white" href="/auth/register">Sign Up</a></button>
                        </ul>
                    </div>
                </div>
            </nav>
