        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-4">
                    <div class="border-0 col-lg-3 col-sm-6 wow slideInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                        <div class="rounded pt-3">
                            <div class="p-4">
                                <i class="bi bi-calculator-fill text-primary mb-4 h1"></i>
                                <h5>Matemática</h5>
                                <p>Ao olhar na direção da matemática, verifica-se que as leis matemáticas fundamentam os princípios químicos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="border-0 col-lg-3 col-sm-6 wow slideInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                        <div class="rounded pt-3">
                            <div class="p-4">
                                <i class="bi bi-moon-stars-fill text-warning mb-4 h1"></i>
                                <h5>Física</h5>
                                <p>Ao olhar na direção da física, constata-se que os princípios da química estão baseados no comportamento de <b>átomos</b> e <b>moléculas</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="border-0 col-lg-3 col-sm-6 wow slideInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                        <div class="rounded pt-3">
                            <div class="p-4">
                                <h1><span><i class="bi bi-suit-heart-fill text-danger mb-4 h1"></i></span></h1>
                                <h5>Biologia</h5>
                                <p>Olhando na direção da biologia, você vai perceber que a química contribui para a compreensão das propriedades e dos fenômenos que envolvem a matéria viva.</p>
                            </div>
                        </div>
                    </div>
                    <div class="border-0 col-lg-3 col-sm-6 wow slideInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                        <div class="rounded pt-3">
                            <div class="p-4">
                                <!--<i class="bi bi-file text-success mb-4 h1"></i>-->
                                <h5>Finalmente, olhando para as ciências humanas,</h5>
                                <p>perceba que a química está integralmente presente na vida das pessoas, influenciando na qualidade de vida e nos padrões de comportamento do homem frente à natureza.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-5 wow slideInRight" data-wow-duration="2s" data-wow-delay="0.5s">
                <p class="lead fw-normal text-muted"><i class="bi bi-check-lg"></i>
                  Não se limite a memorizar conceitos e fórmulas, aprenda a interagir com o conhecimento, fazendo dele um parceiro e não um inimigo a ser vencido. 
                </p>
                <p class="lead fw-normal text-muted">
                  Vamos! Não perca tempo, arrume sua bagagem e vamos viajar! ✈️ 
                </p>
            </div>
            <!-- Service End -->
        </div>
