<h1>Ligações Covalentes</h1>
   <p class="text-muted fst-italic">
    As ligações covalentes ocorrem por compartilhamento de elétrons em orbitais
    incompletos de átomos com tendência a ganhar elétrons - orbitais atômicos.
    Quando da formação do par eletrônico, dois átomos se aproximam e fundem seus
    orbitais atômicos, constituindo o orbital moleculaar, que poderá ser composto
    de dois orbitais atômicos do tipo <b>s</b>, dois do tipo <b>p</b> ou ainda,
    um <b>s</b> e um <b>p</b>.
   </p>

   <div><h1 class="bg-dark rounded p-3 text-light h3" style="text-align: center">ORBITAIS MOLECULARES</h1></div>
   <div class="col-md-6 py-3">
       <p class="fw-bold h5">
        Molécula de hidrogênio ($\text{H}_2$)
       </p>
      <p>
       Nos orbitais, ocorre a interpenetração dos dois orbitais <b>s</b> (esféricos) incompletos,
       formando o orbital molecular (s-s). Esse tipo de ligação recebe o nome de <spam class="text-muted">
       sigma ($\sigma$)</spam>.
      </p>
       <p class="fw-bold h5">
        Molécula de ácido clorídrico ($\text{HCl}$)
       </p>
      <p>
       Nos orbitais, ocorre a interpenetração de um orbital atômico <b>s</b> com um <b>p</b>,
       formando o orbital molecular (s-p).
      </p>
       <p class="fw-bold h5">
        Molécula de gás cloro ($\text{Cl}_2$)
       </p>
      <p>
       Na molécula de cloro ($\text{Cl}_2$), a interpenetração ocorre entre dois orbitais atômicos
       <b>p</b> em forma de halteres, formando o orbital molecular (p-p).
      </p>
       <p class="fw-bold h5">
        Molécula de oxigênio ($\text{O}_2$)
       </p>
      <p>
       Na <spam class="text-muted">dupla</spam> ligação, dois orbitais <b>p</b> se interpenetram no 
mesmo eixo, formando uma ligação sigma; a outra é estabelecida entre orbitais <b>p</b>, <b>paralelos</b>,
constituindo uma nuvem na ligação classificada como <b>pi</b> ($\pi$).
      </p>
       <p class="fw-bold h5">
        Molécula de nitrogênio ($\text{N}_2$)
       </p>
      <p>
       Na ligação <spam class="text-muted">tripla</spam>, somente um par de elétrons se forma
       por interpenetração de orbitais no mesmo eixo (ligação sigma). Nos outros dois pares, ocorre
       interpenetração de orbitais em paralelo (ligações pi, $\pi$). 
      </p>
      <p class="bg-dark fw-bold rounded p-3 text-light text-center">
             HIBRIDAÇÃO
      </p>
      <p>
       Diamante e grafite são compostos de moléculas que se formam exclusivamente de carbono.
A grande diferença está na geometria das moléculas e nas ligações químicas que o carbono faz.
Essas diferenças explicam-se pela teoria da hibridação, segundo a qual o diamante apresenta
átomos de carbono hibridizados na forma $\text{sp}^3$, e a grafite, na forma $\text{sp}^2$.
      </p>
      <p>
       Alguns átomos são encontrados fazendo mais ligações covalentes do que permite seu número
       de orbitais semipreenchidos na camada de valência. Para explicar esse caso criou-se
       a teoria da hibridação ou mistura de orbitais.
      </p>
      <p class="fw-bold h5">
       Hibridação $\text{sp}^3$
      </p>
      <p>
       Sabe-se que o carbono possui seis elétrons, assim distribuídos em seu estado fundamental:
       $$
       _6\text{C = }\text{ }1\text{s}^2\text{ }2\text{s}^2\text{ }
       \mathbf{2\text{p}^2}
       $$
      </p>
      <p>
       Por apresentar dois orbitais semipreenchidos, o carbono só poderia fazer duas ligações
       covalentes. No caso do metano, $\text{CH}_4$, o carbono faz quatro ligações covalentes
       normais. Um elétron do subnível $2\text{s}$ é promovido ao subnível $2\text{p}$, o que
       constitui um <b>estado ativado</b>.
      </p>
      <p>
       Após uma redistribuição de energia, o orbital $2\text{s}$, todos incompletos,
       formando quatro orbitais híbridos na forma $\text{sp}^3$.
      </p>
      <p>
       Espacialmente, os quatro orbitais $\text{sp}^3$ dirigem-se para os vértices de um
       tetraedro formando ângulos de $109\circ 28'$.
      </p>
      <p>
       Outros elementos da família do carbono, como silício e germânio, formam moléculas como
       $\text{SiH}_4$, $\text{SiCl}_4$, $\text{GeH}_4$ e $\text{GeCl}_4$, por meio desse mesmo 
       tipo de hibridação.
      </p>
      <p>
       Os orbitais híbridos são diferentes dos orbitais originais <b>s</b> e ,b>p</b> em energia,
       forma e orientação espacial, porém são iguais entre si.
      </p>

   </div>
   <div class="col-md-6 py-3">
      <p class="fw-bold h5">
       Hibridação $\text{sp}^2$
      </p>
      <p>
       Experimentalmente, sabe-se que a molécula do $\text{BH}_3$ apresenta três ligações, 
       química e fisicamente iguais e, no entanto, o boro ($\text{B}$) encontra-se na 
       família 3A. O boro, no estado fundamental, permite somente uma ligação covalente em seu
       orbital 2p.
      </p>
      <p>
       Promovendo um elétron do subnível 2s para o 2p, obtém-se:
      </p>
      <p>
       Hibridando os três orbitais incompletos, encontram-se três orbitais na forma $\text{sp}^2$,
       orientados em geometria trigonal plana, segundo ângulos de $120^\circ$.
      </p>
      <p>
       Desse modo, é possível explicar as três ligações do boro, no caso com hidrogênios, em 
       que o boro se estabiliza sem completar o octeto.
      </p>
      <p class="fw-bold h5">
       Hibridação $\text{sp}^2$ do carbono
      </p>
      <p>
       O carbono apresenta esse tipo de hibridação ao formar dupla ligação. Tem-se, então,
       uma hibridação parcial, pois ocorre entre o elétron do orbital 2s e dois elétrons
       de dois orbitais 2p. Um orbital <b>p</b> permanece inalterado para formar a ligação
       $\pi$ (<b>p</b> puro). 
      </p>
      <p class="fw-bold h5">
       Hibridação $\text{sp}$
      </p>
      <p>
       Esse tipo de hibridação explica as ligações covalentes do berílio, como no hidreto
       de berílio ($\text{BeH}_2$).
      </p>
      <p>
       Os orbitais híbridos sp estão orientados linearmente, formando ângulo de $180^\circ$.
      </p>
      <p class="fw-bold h5">
       Hibridação $\text{sp}$ do carbono
      </p>
      <p>
       O carbono também apresenta hibridação sp quando faz tripla ligação ou duas duplas no mesmo carbono.
      </p>
      <p>
       O ângulo entre os orbitais híbridos é de $180^\circ$; a geometria é linear.
      </p>
      <p>
       <center>
       <figure class="img-responsive">
          <img class="shadow" src="https://i.pinimg.com/736x/3a/4a/98/3a4a9804a06f001470ea2fc552dedfb0.jpg" width="350">
       </figure>
       </center>
      </p>
      <p>
       A água é uma substância que apresenta ponto de ebulição bastante elevado em relação aos
       hidretos da família 6A. Tal fenômeno relaciona-se à geometria de sua molécula (angular).
       Essa geometria é explicada por meio da hibridação.
      </p>
      <p class="text-muted fw-bold h5">
       Hibridação $\text{sp}^3$ na água e na amônia
      </p>
      <p class="fw-bold">Água ($\text{H}_2\text{O}$) híbrida</p>
      <p>
       A molécula de água pode apresentar-se na forma híbrida $\text{sp}^3$. A hibridação denomina-se
       especial, por não acontecer a passagem pelo átomo ativado.
      </p>
      <p>
O ângulo entre os hidrogênios corresponde a $104^\circ30'$, e a geometria é angular. Uma maneira
de se explicar a ocorrência do ângulo anormal ($104^\circ30'$) em vez do previsto ($109^\circ28'$)
nesse tipo de hibridação é a repulsão dos orbitais completos do oxigênio.
      </p>
      </p>
      <p class="fw-bold">Amônia ($\text{NH}_3$) híbrida</p>
      <p>
      <p>
       A molécula de amônia pode ser explicada admitindo-se o nitrogênio hibridado na forma
       $\text{sp}^3$. Nesse caso, também não há passagem pelo estado ativado.
      </p>
      <p>
       O ângulo entre os orbitais é de $107^\circ 18'$, com geometria piramidal.
      </p>
   </div>
<div class="col-md-12 p-5 text-white"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
   <div class="col-md-9">
      <h1 class="text-light h2"><i class="bi bi-bookmarks"></i></h1>
      <p>
       Alotropia é o fenômeno em que um mesmo elemento químico pode formar diferentes
       substâncias simples.<br> O elemento carbono é encontrado na natureza sob diferentes formas:
       várias espécies de carvão, substâncias amorfas e duas estruturas cristalinas bem-definidas -
       o diamante (hibridação $\text{sp}^3$) e a grafite (hibridação $\text{sp}^2$). Tais formas
       denominam-se variedades alotrópicas do carbono.
      </p>
   </div>
   <div class="col-md-3">
      <img class="img-responsive" src="/img/aen.png" width="200">
   </div>
</div>

<p class="text-primary fw-bold fs-5">Estrutura Atômica:</p>
<div class="d-flex p-2">
     <ul class="pagination">
       <li class="page-item"><a class="page-link fw-bold" href="/book/1so2yss8gc7i">Parte 1</a></li>
       <li class="page-item"><a class="page-link" href="/book/vah7kxypfh05">2</a></li>
       <li class="page-item"><a class="page-link" href="/book/yutn627vg40b">3</a></li>
       <li class="page-item"><a class="page-link" href="/book/tl369uwkn8g0">4</a></li>
       <li class="page-item"><a class="page-link fw-bold" href="/book/giqez87b6jxy">Próximo</a></li>
     </ul>
</div>
