<div hidden id="TOC"><b>Sumário</b></div>
<div class="container px-0">
<hr>
<h3>Design com cruzamento de culturas</h3>
<p>As pessoas estão mais conscientes do design do que nunca. Seja qual for o serviço ou o produto, seja qual for o consumo ou o valor, um contexto intangível envolve todas as interações.</p>
<p>Negócios bem sucedidos parecem oferecer experiências em design, independentemente do serviço ou do produto e investem nos recursos necessários para aprimorar ambos. As pessoas não estão apenas conscientes do design, estão famintas por imagens, temas e experiências que as satisfaçam em muitos níveis: estético, pragmático, ideológico, cultural.</p>
<p>Estão <strong>famintas</strong> por um "bom" design.</p>
<p>A cor cria emoção. Por exemplo, o vermelho é associado à excitação, o púrpura é nobre e imponente, o amarelo é alegre e o azul é associado ao conforto e à segurança. Tratamos a cor como um elemento que é tão importante quanto a navegação, imagens ou conteúdo. </p> 
  
<p class="h3">A AENTECH projeta e constrói websites simples, úteis e atraentes que são rápidos, legíveis e acessíveis - tudo usando os padrões Web.</p>
<div class="container">
<div class="row">
<div class="col-md-6">
<figure class="figure">
  <img src="/img/banner5.jpg" class="figure-img img-fluid rounded" width="550" alt="...">
  <figcaption class="figure-caption">Imagem Ilustrativa</figcaption>
</figure>

<p> A <strong>AENTECH News</strong> é uma revista Web baseada em notícias. Seu layout do tipo revista com diversas colunas e design simples reforçam o tema de notícias. Um uso generoso de espaço em branco e um layout baseado em grades ajudam a reforçar o tema de jornal. Um layout com diversas colunas parecido com o de um jornal. E mais, as colunas coordenadas, com algumas se estendendo com a largura de duas, outras com apenas uma. </p>


</div>
<div class="col-md-6">
<h3>Abrangência de Negócios</h3> 
<p> 
<ul class="fw-bold"> <li>Café, Bares, Restaurantes e Pizzarias</li> <li>Marmitaria, Padarias e Mercearias</li> <li>Barbearia e Salões de Beleza</li> <li>Academias</li> </ul> 
</p>
<p>
<ul>
<li>Os produtos são listados por Categoria.</li> <li><strong>Miniblog</strong>: entrada que inclui a data, uma imagem e uma descrição dos acontecimentos daquele dia.</li>
</ul>
</p>
<p>Trabalhando com nossos clientes, enfatizamos um processo de pesquisa profundamente ponderado e completo com ênfase no <strong>aprendizado</strong> e no <strong>atendimento</strong>. Ao mesmo tempo centralizamos o processo nos públicos e nos contextos.</p>
<figure class="figure">
  <img src="/img/aennews.jpg" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">AEN Technology & Information</figcaption>
</figure>
</div>
</div> 
<p class="fs-5 mb-3"> A obtenção de clientes é realizada através da página de contato. </p>

</div><hr>
<h3> Relatórios de pesquisa e testes de usuários </h3>
<p> Compreender as necessidades, desejos e limitações dos usuários é fundamental para o sucesso do design do site ou aplicação web. Esta abordagem de projetar em torno das necessidades do usuário é chamada de <strong>Design Centrado no Usuário (UCD)</strong> e é fundamental para o design contemporâneo. Os designs de sites muitas vezes começam com pesquisas de usuários, incluindo entrevistas e observações, a fim de obter uma melhor compreensão de como o site pode resolver problemas ou como ele será usado.</p>
<p class="fs-5 mb-4 fw-bold">Projetamos para pessoas reais, não para alvos regionais. Compreendemos que pessoas reais estão procurando algo mais e conduzimos nossos clientes, processos e designs ao criar uma valor mais tangível para todos.</p> 
<p>Se os usuários estiverem tendo dificuldades para descobrir onde encontrar conteúdo ou como passar para a próxima etapa de um processo, então tudo estará de volta à prancheta. </p> 
<h3>A Web</h3>
<p> A Internet é uma rede de computadores conectados. Nenhuma empresa é dona da Internet; é um esforço cooperativo regido por um sistema de padrões e regras. O objetivo de conectar computadores, é claro, é compartilhar informações. Há muitas maneiras pelas quais as informações podem ser transmitidas entre computadores, incluindo e-mail, transferência de arquivos (FTP) e muitos outros modos especializados sobre os quais a Internet é construída. Esses métodos padronizados para transferência de dados ou documentos em uma rede são conhecidos como protocolos. </p> 
<p> A Web (originalmente chamada de World Wide Web, daí o “www” em endereços de sites) é apenas uma das maneiras pelas quais as informações podem ser compartilhadas pela Internet. É o único que permite que documentos sejam vinculados entre si por meio de links de hipertexto – formando assim uma enorme “rede” de informações conectadas. A Web usa um protocolo chamado HTTP (HyperText Transfer Protocol). </p>
</div><br>
<h2>Referências</h2>
<ul>
<li>OLIVEIRA, Felipe Rodrigues; MAZIERO, Ronaldo Colucci; DE ARAÚJO, Liriane Soares. Um estudo sobre a web 3.0: evolução, conceitos, princípios, benefícios e impactos. Revista Interface Tecnológica, v. 15, n. 2, p. 60-71, 2018.</li>
<li>GRINBERG, M. Flask web development: developing web applications with python. 2018:" O'Reilly Media.</li>
<li>GASPAR, Daniel; STOUFFER, Jack. Mastering Flask Web Development: Build Enterprise-grade, Scalable Python Web Applications. Packt Publishing Ltd, 2018.</li>
<li>RODZVILLA, John. A Review of “Learning Web Design” 4th ed. Robbins, Jennifer Niederst. Sebastapol, CA: O’Reilly Media, 2012, 602 pp., $49.99, ISBN: 978-1-449-31927-4. 2013.</li>
<li>JEREMY, Osborn; JENNIFER, Smith; AGI, Training Team. Web Design with HTML and CSS: Digital Classroom. Wiley, 2011.</li>
<li>LAL, Manohar et al. Web 3.0 in Education & Research. BVICAM's International Journal of Information Technology, v. 3, n. 2, 2011.</li>
<li>ZANA, Yossi, <a href="https://www.ufabc.edu.br/ensino/docentes/yossi-zana" target="_blank">Visão Humana e Computacional; Neurociência; Quantificação Automática do Comportamento.</a> UFABC, 2008</li>
<ul>
