<div hidden id="TOC"><b>Sumário</b></div>
<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <figure class="figure">
        <img src="https://www.davimanoel.com.br/wp-content/uploads/2017/11/programacao_web.jpg" class="figure-img img-fluid rounded" width="550" alt="...">
        <figcaption class="figure-caption">Imagem Ilustrativa</figcaption>
      </figure>
    </div>
    <div class="col-md-6">
      <p class="lead fw-normal text-muted mb-3"> Somos uma rede de computadores conectados num esforço cooperativo regido por um sistema de padrões e regras. Nosso objetivo é claro:<br> <strong>Compartilhar informações!</strong></p> 
      <p class="lead fw-normal text-muted mb-3"> Há muitas maneiras pelas quais as informações podem ser transmitidas entre computadores, incluindo e-mail; e muitos outros modos especializados sobre os quais a Internet é construída.</p> 
      <p class="lead fw-normal text-muted mb-3"> A Web (originalmente chamada de World Wide Web, daí o <span class="fw-bold">“www”</span> em endereços de sites) é apenas uma das maneiras pelas quais as informações podem ser compartilhadas pela Internet.</p> 
    </div><br>
  </div>

</div>
