<div hidden id="TOC"><b>Sumário</b></div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <figure class="figure">
        <img src="https://www.davimanoel.com.br/wp-content/uploads/2017/11/programacao_web.jpg" class="figure-img img-fluid rounded" width="550" alt="...">
        <figcaption class="figure-caption">Imagem Ilustrativa</figcaption>
      </figure>
      <p class="lead fw-normal text-muted mb-0">Trabalhando com nossos clientes, enfatizamos um processo de pesquisa profundamente ponderado e completo com ênfase no <strong>aprendizado</strong> e no <strong>atendimento</strong>. Ao mesmo tempo centralizamos o processo nos públicos e nos contextos.</p>
    </div>
    <div class="col-md-6">
      <p class="lead fw-normal text-muted mb-3"> A Internet é uma rede de computadores conectados. Nenhuma empresa é dona da Internet; é um esforço cooperativo regido por um sistema de padrões e regras. O objetivo de conectar computadores, é claro, é compartilhar informações.</p> 
      <p class="lead fw-normal text-muted mb-3"> Há muitas maneiras pelas quais as informações podem ser transmitidas entre computadores, incluindo e-mail e muitos outros modos especializados sobre os quais a Internet é construída.</p> 
      <p class="lead fw-normal text-muted mb-3"> A Web (originalmente chamada de World Wide Web, daí o <span class="fw-bold">“www”</span> em endereços de sites) é apenas uma das maneiras pelas quais as informações podem ser compartilhadas pela Internet.</p> 
      <p class="lead fw-normal text-muted mb-5"> A Web usa um protocolo chamado <span class="fw-bold">HTTP</span> (HyperText Transfer Protocol) que permite que documentos sejam vinculados entre si por meio de links de hipertexto – formando assim uma enorme <span class="fw-bold">“rede”</span> de informações conectadas.</p>
    </div><br>
  </div>

<button type="button" data-bs-toggle="modal" data-bs-target="#modal4">show periodic table</button>
{{>modal4}}

</div>
