<div hidden id="TOC"><b>Sumário</b></div>
   <section class="py-5">
       <div class="container">
           <div class="row d-md-none"><img class="img-responsive" src="/img/aennews.jpg"></div>
           <div class="row gx-5">
               <div class="col-xl-12 bg-info">
                   <div class="card border-0 m-5 bg-transparent">
                       <div class="card-body p-4">
                           <div class="d-flex h-100 align-items-center justify-content-center">
                               <div class="text-center">
                                   <h1 class="h2 fw-bolder">Contato</h1>
                                   <div class="h6 fw-bolder text-white">Sugestões ou dúvidas, envie-nos uma mensagem</div>
                                   <div class="taxas h6 fw-bolder"></div><hr>
                                   <!--<img class="card-img-top rounded-1" id="contact" src="/img/logo.png">-->
                                   <!--<div class="h6 fw-bolder">Contato</div>-->
                                   <div class="h6 fw-bolder"></div><br>
                                   <a class="fs-5 px-2 link-dark" href="https://facebook.com/neto.ajp" target="_blank"><i class="bi-facebook"></i></a>
                                   <a class="fs-5 px-2 link-dark" href="https://www.linkedin.com/in/antenor-neto-8239551b7/" target="_blank"><i class="bi-linkedin"></i></a>
                                   <a class="fs-5 px-2 link-dark" href="https://instagram.com/neto.ajp" target="_blank"><i class="bi-instagram"></i></a>
                                   <!--<p class="text-muted mb-4">
                                      Sugestões ou dúvidas, envie-nos uma mensagem
                                   <br />
                                   </p>-->
                                   <div class="h6 fw-bolder"></div><br>{{>form}}
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
