<div hidden id="TOC"><b>Sumário</b></div>
{{>header}}
{{>about}}
{{>service}}
{{>calltoaction}}
            <div class="card m-5 p-3 wow slideInRight" data-wow-duration="2s" data-wow-delay="0.5s">
                <p class="lead fw-normal text-muted text-center">
                  Não se limite a memorizar conceitos e fórmulas, aprenda a interagir com o conhecimento,
                  fazendo dele um parceiro e não um inimigo a ser vencido.
                </p>
                <p class="lead fw-normal text-muted text-center">
                  Vamos! Não perca tempo, arrume sua bagagem e vamos viajar! ✈️
                </p>
            </div>
<div class="wow bounceInUp" data-wow-duration="2s" data-wow-delay="2.0s">
{{>periodictable}}
</div>
