<style>
body {
//background-image: url('https://cdn.pixabay.com/photo/2023/03/15/09/15/waves-7854066_1280.jpg');
background-repeat: repeat-x;
min-height: 100vh;
}
</style>

<div hidden id="TOC"><b>Sumário</b></div>
<section class="wow zoomIn" data-wow-delay="0.1s">
   {{>products}}
</section>
