<div hidden id="TOC"><b>Sumário</b></div>
<div class="container my-5">
            <!-- Header-->
            <header class="py-0">
               <div class="container px-0">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-0">
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5" id="scroll-target">
                <div class="container px-3 my-0">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 zoom"><img class="img-fluid rounded mb-2 mb-lg-0" src="/img/aennews.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder text-success">Pesquisa e Desenvolvimento</h2>
                            <p class="lead fw-normal text-muted mb-0">Antenor Neto é graduado como Bacharel em Ciência e Tecnologia e em Química, possui profundo fascínio pela aplicação da Computação em Ciências da Vida (Bioinformática, Descoberta de Fármacos, Neurociência). Foi pesquisador de pós doutorado em Energia (Faculdade de Engenharia Elétrica e Computação - UNICAMP). É autodidata em JavaScript/TypeScript e Node.js. Acredita que a tecnologia, além de conectar pessoas, pode transformar vidas. Ama caminhar, ouvir música e assistir filmes e séries.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5">
                <div class="container px-3 my-3">
                    <div class="text-center">
                        <p class="lead fw-normal text-muted mb-5">Dedicado à qualidade e ao seu sucesso</p>
                        <h2 class="fw-bolder text-muted">Formação</h2>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://pad.unifesp.br/images/Imagens/unifesp-Divulgao.jpg" alt="..." />
                                <h5 class="fw-bolder">UNIFESP</h5>
                                <div class="fst-italic text-muted">São José dos Campos - SP</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://th.bing.com/th/id/R.843c221e600457462068be5a82112d2f?rik=cDJSXTXESkBMlA&pid=ImgRaw&r=0" alt="..." />
                                <h5 class="fw-bolder">UNICAMP</h5>
                                <div class="fst-italic text-muted">Campinas - SP</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://estagioonline.com/wp-content/uploads/2018/03/USP.png" alt="..." />
                                <h5 class="fw-bolder">USP</h5>
                                <div class="fst-italic text-muted">São Carlos - SP</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://dddrop.com.br/wp-content/uploads/2021/12/Logo-UFABC.png" alt="..." />
                                <h5 class="fw-bolder">UFABC</h5>
                                <div class="fst-italic text-muted">Santo André - SP</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
