<div hidden id="TOC"><b>Sumário</b></div>
<div class="row">
   <h1 class="h2 fw-bolder mb-3">Matéria e Energia</h1>
   <p class="text-muted fst-italic">
    Química é a ciência que estuda a estrutura íntima da máteria,
    suas propriedades e transformações, procurando explicar como as
    várias espécies de matéria interagem, formando o Universo.
   </p>
   <div class="col-md-8 py-3">
      <p class="bg-primary fw-bold rounded p-3 text-light text-center">
       ENERGIA
      </p>
      <p>
       O Universo é composto de energia e matéria. Há várias formas de energia:
       potencial, cinética, mecânica, elétrica, química, nuclear, entre outras.
       As propriedades fundamentais da energia são <b>transformação</b> e <b>conservação</b>.
      </p>
      <p class="bg-warning p-3 rounded fw-bold">
       <i class="bi bi-info h4 bg-info rounded"></i>
       Tudo aquilo que pode modificar a matéria ou causar sensações.
      </p>
      <p class="text-muted fw-bold fs-5">
       Transformação
      </p>
      <p>
       Uma forma de energia pode transformar-se em outra. Uma queda-d'água pode ser usada
       para converter energia potencial em energia cinética (usina), e esta, por meio de
       geradores, em energia elétrica, que, por sua vez, se transforma em energia luminosa
       quando acendemos uma lâmpada ou em energia térmica quando ligamos um aquecedor.
       Numa lanterna, a energia química (pilha) transforma-se em luminosa e assim por diante.
      </p>
   </div>
   <div class="col-md-4">
      <center>
       <figure class="figure">
        <img class="figure-img img-fluid rounded-circle shadow p-1" src="https://th.bing.com/th/id/R.c1d36642bed4f28ce3cc3b3f3ecf6f56?rik=cUePRpDUHR9PaQ&pid=ImgRaw&r=0" width="300">
        <figcaption class="figure-caption">
         Estudos mostram que a energia do Sol vem de reações de fusão nuclear.
         Núcleos de átomos de hidrogênio, de massas diferentes, unem-se, formando
         átomos de hélio e liberando muita energia.
         Um exemplo de fusão pode ser representado por
         $$
         _1 \text{H}^2 \text{ + } _1 \text{H}^3 \text{ }\to \text{ } _2 \text{He}^4 \text{ + } _0 \text{n}^1
         $$
        </figcaption>
       </figure>
      </center>
   </div>
   <div>
      <p class="text-muted fw-bold fs-5">
       Conservação
      </p>
      <p>
       A energia não pode ser destruída ou criada. Sempre que "desaparecer" determinada
       quantidade de energia, uma quantidade exatamente igual de uma ou mais classes de
       energia é produzida. Um exemplo disso é a combustão da vela, que representa fenômenos
       físicos e químicos. Parte da matéria transforma-se em energia calorífica, luminosa.
      </p>
      <p class="bg-primary fw-bold rounded p-3 text-light text-center">MATÉRIA</p>
   </div>
   <div class="col-md-4 py-3">
      <p class="bg-warning p-3 rounded fw-bold">
       <i class="bi bi-info h4 bg-info rounded"></i>
       É tudo que tem massa e ocupa lugar no espaço.
      </p>
      <p>
       As propriedades da matéria são três: <b>gerais</b>, <b>funcionais</b> e <b>específicas</b>.
      </p>
      <p>
       <b>Propriedades gerais</b> são aquelas inerentes a toda espécie de matéria,
       tais como, massa, extensão, impenetrabilidade, divisibilidade, compressibilidade
       e elasticidade.
      </p>
      <p>
       <b>Propriedades funcionais</b> são comuns a determindados grupos de materias
       identificadas pela função que desempenham. Acidez, basicidade, salinidade são exemplos
       de propriedades funcionais.
      </p>
      <p>
       <b>Propriedades específicas</b> correspondem individualmente a cada tipo parrticular
       de matéria. Por exemplo: propriedades organolépticas são aquelas capazes de impressionar
       os nossos sentidos (cor, sabor, odor).
      </p>
      <p class="text-muted fw-bold fs-5">
       Classificação da matéria
      </p>
      <p>
       A matéria divide-se em <b>substâncias puras</b> e <b>misturas</b>, segundo o esquema,
      </p>
      <p>
       $$
       \text{Materia}
       \left\{
       \frac{\text{Mistura}
       \left\{
       \begin{array}{c}
       \text{Homogenea} \\
       \text{Heterogenea} \\
       \text{Azeotropica} \\
       \text{Eutetica} \\
       \end{array}
       \right.
       }{
       \text{Substancia pura}
       \left\{
       \begin{array}{c}
       \text{Simples} \\
       \text{Composta} \\
       \end{array}
       \right.
       }
       \right.
       $$
      </p>
      <p class="fw-bold fs-5">
       Misturas
      </p>
      <p>
       Não apresentam composição fixa, podendo ser separadas por processos físicos.
       Classificam-se em:
      </p>
      <p>
       <b>homogêneas</b> - os componentes apresentam uma única fase, ou seja, têm o mesmo
       aspecto em toda sua extensão. A mistura de água ($\text{H}_2\text{O}$) e sal ($\text{NaCl}$)
       é homogênea.
      </p>
      <p>
       <b>heterogêneas</b> - pode-se observar mais de uma fase. Água com areia, por exemplo,
       é uma mistura heterogênea.
      </p>
      <p class="bg-warning p-3 rounded fw-bold">
       <i class="bi bi-info h4 bg-info rounded"></i>
       Fase é cada porção homogênea de um sistema.
      </p>
   </div>
   <div class="col-md-4 py-3">
      <p class="fw-bold fs-5">
       Substâncias puras
      </p>
      <p>
       Apresentam composição fixa em toda sua extensão, não podendo ser desdobradas
       por processos físicos. Podem ser de dois tipos:
      </p>
      <p>
       <b>Simples</b> - formadas por um único elemento. É o caso de $\text{H}_2$, $\text{N}_2$,
       $\text{O}_2$, $\text{Fe}$, $\text{Ca}$ e $\text{O}_3$.
       é homogênea.
      </p>
      <p>
       <b>compostas</b> - formadas por mais de um elemento e quimicamente passíveis de desdobramento
       em duas ou mais substâncias simples. Assim ocorre com $\text{H}_2\text{O}$, $\text{NaCl}$,
       $\text{HCl}$ e $\text{H}_2\text{SO}_4$
      </p>
      <p>
       <b>Substâncias puras</b> e <b>misturas</b> comportam-se de maneira diferente
       durante as mudanças de estado físico.
      </p>
      <p class="bg-primary fw-bold rounded p-3 text-light text-center">
       MUDANÇAS DE ESTADO FÍSICO
      </p>
      <P>
       Toda matéria pode apresentar-se em um dos três estados físicos (<b>sólido</b>, <b>líquido</b>
       e <b>gasoso</b>). As transformações de estado físico ocorrem pela absorção ou liberação de
       energia térmica (<b>calor</b>).
      </P>
      <p class="bg-primary fw-bold rounded p-3 text-light text-center">
       FENÔMENOS FÍSICOS E QUÍMICOS
      </p>
      <p>
       A matéria modifica-se física ou quimicamente.
      </p>
      <p class="text-muted fw-bold fs-5">
       Fenômeno físico
      </p>
      <p>
       Fenômeno físico é todo aquele que <b>não modifica</b> a estrutura íntima da matéria;
       quebrar um pedaço de giz, fundir gelo e rasgar uma folha de papel são exemplos de
       fenômenos físicos.
      </p>
      <p class="text-muted fw-bold fs-5">
       Fenômeno químico
      </p>
      <p>
       É todo aquele que <b>modifica</b> a estrutura íntima da matéria. Queima de papel, digestão,
       reagir o giz com ácido clorídrico são exemplos de fenômenos químicos.
      </p>
      <p>
       A <b>Figura 1</b> ilustra uma transformação química. Duas substâncias entram em contato
       formando nova substância. Na ilustração são observadas mudança de cor e formação
       de uma substância insolúvel de cor dourada. A reação que ocorre está representada
       a seguir.
       $$
       \text{Pb(NO}_3\text{)}_2 + 2 \text{KI} \to 2\text{KNO}_3 + \color{yellow}{PbI}_2
       $$
      </p>
   </div>
   <div class="col-md-4 py-3 border">
      <p class="bg-light rounded p-3 mt-3 text-muted text-center fw-bold">
       <i class="bi bi-bookmark h1"></i>
       ESTADOS FÍSICOS DA MATÉRIA
      </p>
      <p class="text-muted fw-bold">Sólido</p>
      <p>
       O estado de maior organização da matéria é o sólido, porque os materiais apresentam forma
       e volume constantes e são mais resistentes à deformação.
      </p>
      <p>
       As partículas que constituem os materiais em estado sólido são átomos, moléculas
       e/ou íons. Elas estão bem-próximas umas das outras, por causa de uma força de
       atração (coesão) muito forte, e encontram-se bem-distribuídas, formando o retículo
       cristalino, que só apresenta movimento vibratório.
      </p>
      <p class="text-muted fw-bold">Líquido</p>
      <p>
       Substâncias em estado líquido apresentam forma variável e volume constante.
       Pouco compressíveis, têm pequena expansibilidade.
      </p>
      <p>
       É um estado mais desorganizado que o sólido. As partículas que o constituem,
       em condições ambientais, são moléculas. Elas ficam relativamente afastadas,
       pois a força de atração não é muito forte. Não há formação de retículo cristalino,
       o que permite um líquido associar-se homogeneamente a outro e haver movimento
       maior entre as moléculas.
      </p>
      <p class="text-muted fw-bold">Gasoso</p>
      <p>
       É o estado de maior desorganização da matéria, que apresenta forma e volume variáveis,
       muita compressibilidade e grande expansibilidade.
      </p>
      <p>
       As partículas que formam esse estado são átomos ou moléculas, bem-afastadas,
       pois as forças de atração entre elas são muito pequenas. Possuem um movimento
       intenso e desordenado em todas as direções e sentidos.
      </p>
      <center>
       <figure class="figure">
        <img class="figure-img img-fluid rounded-circle shadow p-1" src="https://d1ymz67w5raq8g.cloudfront.net/Pictures/2000x2000fit/8/0/3/113803_golden-rain-precipitation-demostration-1.jpg" width="300">
        <figcaption class="figure-caption">
           <b>Figura 1</b>:Quando duas soluções iodeto de potássio ($\text{KI}$) e nitrato de
           chumbo ($\text{Pb(NO}_3\text{)}_2$) reagem, produzem nitrato de potássio solúvel ($\text{KNO}_3$)
           e iodeto de chumbo insolúvel ($\text{PBI}_2$). Isto é visível como um precipitado amarelo na solução.
        </figcaption>
       </figure>
      </center>
   </div>
</div>
