<div hidden id="TOC"><b>Sumário</b></div>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Activation</h3></div>
                                    <div class="card-body">
                                        <form id="contactForm" method="post" action="/api/auth/activate">
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                <!-- Email input-->
                                                        <input name="email" class="form-control" id="inputEmail" type="text" placeholder="name@example.com" />
                                                        <label for="inputEmail">Email</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                <!-- OTPCode input-->
                                                        <input name="OTPCode" class="form-control" id="inputOTPCode" type="password" placeholder="Enter your OTP Code" />
                                                        <label for="inputOTPCode">OTP Code</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Verify</button></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
